# Cruce Presidencial 2017 Plebiscito 2020
Exploramos los resultados por mesa:

In [27]:
import pandas as pd
ple = pd.read_excel('DATA/Plebiscito_2020.xlsx', sheet_name='resultados por mesa')
#pre = pd.read_excel('DATA/Presidencial_2017_2v.xlsx')

In [29]:
ple.head()[['region','comuna','local','mesa','apruebo','rechazo']]

           region       comuna                local  mesa  apruebo  rechazo
0  DE ANTOFAGASTA  ANTOFAGASTA  COLEGIO ANTOFAGASTA  113M      190       23
1  DE ANTOFAGASTA  ANTOFAGASTA  COLEGIO ANTOFAGASTA  114M      179       37
2  DE ANTOFAGASTA  ANTOFAGASTA  COLEGIO ANTOFAGASTA  115M      191       29
3  DE ANTOFAGASTA  ANTOFAGASTA  COLEGIO ANTOFAGASTA  116M      168       35
4  DE ANTOFAGASTA  ANTOFAGASTA  COLEGIO ANTOFAGASTA   282      128       24

In [30]:
pre.groupby('Candidato').agg({'Votos TRICEL':'sum'})

                             Votos TRICEL
Candidato
ALEJANDRO  GUILLIER ALVAREZ     3147868.0
SEBASTIAN PIÑERA ECHENIQUE      3788641.0
TOTALES                         7011558.0
Votos Blancos                     18795.0
Votos Nulos                       56254.0

No calza 100% con https://es.wikipedia.org/wiki/Elecci%C3%B3n_presidencial_de_Chile_de_2017. Necesitamos establecer, para cada tupla (Region, comuna, mesa, tipo mesa, candidato) los votos obtenidos.

In [16]:
gpdf = pre[pre.Candidato.isin(['ALEJANDRO  GUILLIER ALVAREZ','SEBASTIAN PIÑERA ECHENIQUE'])]
len(gpdf)

85780

In [17]:
gpdf.head()

,Región,Provincia,Circ.Senatorial,Distrito,Comuna,Circ.Electoral,Local,Mesa,Tipo mesa,Mesas Fusionadas,Electores,Nro.voto,Candidato,Votos TRICEL
0,1.0,DEL TAMARUGAL,2a Circunscripción,2° Distrito,CAMIÑA,CAMIÑA,ESCUELA CAMIÑA,1.0,M,1M-5M,419.0,3.0,SEBASTIAN PIÑERA ECHENIQUE,130.0
1,1.0,DEL TAMARUGAL,2a Circunscripción,2° Distrito,CAMIÑA,CAMIÑA,ESCUELA CAMIÑA,1.0,M,1M-5M,419.0,4.0,ALEJANDRO GUILLIER ALVAREZ,28.0
4,1.0,DEL TAMARUGAL,2a Circunscripción,2° Distrito,CAMIÑA,CAMIÑA,ESCUELA CAMIÑA,2.0,M,2M-3M,441.0,3.0,SEBASTIAN PIÑERA ECHENIQUE,114.0
5,1.0,DEL TAMARUGAL,2a Circunscripción,2° Distrito,CAMIÑA,CAMIÑA,ESCUELA CAMIÑA,2.0,M,2M-3M,441.0,4.0,ALEJANDRO GUILLIER ALVAREZ,28.0
8,1.0,DEL TAMARUGAL,2a Circunscripción,2° Distrito,CAMIÑA,CAMIÑA,ESCUELA CAMIÑA,2.0,V,2V-3V-4V,383.0,3.0,SEBASTIAN PIÑERA ECHENIQUE,90.0

In [19]:
gpdf['Candidato'] = gpdf.Candidato.apply(lambda c: c.split()[1])
gpdf.groupby('Candidato').agg({'Votos TRICEL':'sum'})

<ipython-input-19-e206a05b4aeb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gpdf['Candidato'] = gpdf.Candidato.apply(lambda c: c.split()[1])

           Votos TRICEL
Candidato
GUILLIER      3147868.0
PIÑERA        3788641.0

In [32]:
gpdf['mesa'] = ['%d%s' %(row['Mesa'],row['Tipo mesa']) for _, row in gpdf.iterrows()]
gpdf.head()

,Región,Provincia,Circ.Senatorial,Distrito,Comuna,Circ.Electoral,Local,Mesa,Tipo mesa,Mesas Fusionadas,Electores,Nro.voto,Candidato,Votos,LMT,mesa
0,1.0,DEL TAMARUGAL,2a Circunscripción,2° Distrito,CAMIÑA,CAMIÑA,ESCUELA CAMIÑA,1.0,M,1M-5M,419.0,3.0,PIÑERA,130.0,ESCUELA CAMIÑA_1_M,1M
1,1.0,DEL TAMARUGAL,2a Circunscripción,2° Distrito,CAMIÑA,CAMIÑA,ESCUELA CAMIÑA,1.0,M,1M-5M,419.0,4.0,GUILLIER,28.0,ESCUELA CAMIÑA_1_M,1M
4,1.0,DEL TAMARUGAL,2a Circunscripción,2° Distrito,CAMIÑA,CAMIÑA,ESCUELA CAMIÑA,2.0,M,2M-3M,441.0,3.0,PIÑERA,114.0,ESCUELA CAMIÑA_2_M,2M
5,1.0,DEL TAMARUGAL,2a Circunscripción,2° Distrito,CAMIÑA,CAMIÑA,ESCUELA CAMIÑA,2.0,M,2M-3M,441.0,4.0,GUILLIER,28.0,ESCUELA CAMIÑA_2_M,2M
8,1.0,DEL TAMARUGAL,2a Circunscripción,2° Distrito,CAMIÑA,CAMIÑA,ESCUELA CAMIÑA,2.0,V,2V-3V-4V,383.0,3.0,PIÑERA,90.0,ESCUELA CAMIÑA_2_V,2V

In [81]:
gpdf = gpdf.rename(columns={'Votos TRICEL':'Votos'})
hdf = gpdf[['Región','Comuna','Local','mesa','Candidato','Votos']]
hdf.Región=hdf.Región.apply(int)
hdf.head()

/home/ubuntu/.local/lib/python3.8/site-packages/pandas/core/generic.py:5491: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

   Región  Comuna           Local mesa Candidato  Votos
0       1  CAMIÑA  ESCUELA CAMIÑA   1M    PIÑERA  130.0
1       1  CAMIÑA  ESCUELA CAMIÑA   1M  GUILLIER   28.0
4       1  CAMIÑA  ESCUELA CAMIÑA   2M    PIÑERA  114.0
5       1  CAMIÑA  ESCUELA CAMIÑA   2M  GUILLIER   28.0
8       1  CAMIÑA  ESCUELA CAMIÑA   2V    PIÑERA   90.0

In [23]:
hdf.groupby('Candidato').agg({'Votos':'sum'})

               Votos
Candidato
GUILLIER   3147868.0
PIÑERA     3788641.0

In [82]:
import sqlite3
hdf.to_sql('presi', sqlite3.connect('cruce.db'),index=False,if_exists='replace')

In [83]:
!ls -l cruce.db

-rw-r--r-- 1 ubuntu ubuntu 5636096 Feb 17 14:56 cruce.db

In [71]:
ple.region = ple.region.apply(lambda reg: ' '.join(reg.split()[1:]) if reg[:2]=='DE' else reg)
ple.head(3)[['region','comuna','local','mesa','apruebo','rechazo']]

        region       comuna                local  mesa  apruebo  rechazo
0  ANTOFAGASTA  ANTOFAGASTA  COLEGIO ANTOFAGASTA  113M      190       23
1  ANTOFAGASTA  ANTOFAGASTA  COLEGIO ANTOFAGASTA  114M      179       37
2  ANTOFAGASTA  ANTOFAGASTA  COLEGIO ANTOFAGASTA  115M      191       29

In [84]:
hdf.head(3)

   Región  Comuna           Local mesa Candidato  Votos
0       1  CAMIÑA  ESCUELA CAMIÑA   1M    PIÑERA  130.0
1       1  CAMIÑA  ESCUELA CAMIÑA   1M  GUILLIER   28.0
4       1  CAMIÑA  ESCUELA CAMIÑA   2M    PIÑERA  114.0

In [67]:
sql = lambda q: pd.read_sql(q, sqlite3.connect('cruce.db'))
sql('SELECT * FROM presi LIMIT 1')

   Región  Comuna mesa Candidato  Votos
0     1.0  CAMIÑA   1M    PIÑERA  130.0

In [94]:
ph10=ple.head(10)[['region','comuna','local','mesa','apruebo','rechazo']]

def get_votes(cand, reg, com, loc, mesa):  # mirar en hdf cuáles son los votos del candidato CAND
    idx_reg = dreg[reg]   # 'TARAPACA'->1
    q = f"SELECT Votos FROM presi WHERE Candidato='{cand}' AND Región={idx_reg} \
            AND Comuna='{com}' AND Local='{loc}' AND mesa='{mesa}'" # should we mind float/ints?
    #print(q)
    return sql(q).values[0][0]
ph10['PIÑERA'] = ph10.apply(lambda row: get_votes('PIÑERA', row['region'], row['comuna'], row['local'], row['mesa']), axis=1)
ph10

IndexError: index 0 is out of bounds for axis 0 with size 0

In [50]:
cut = pd.read_excel('cut_2018_v03.xls')
cut.head()

,Código Región,Nombre Región,Código Provincia,Nombre Provincia,Código Comuna 2017,Nombre Comuna
0,1,Tarapacá,11,Iquique,1101,Iquique
1,1,Tarapacá,11,Iquique,1107,Alto Hospicio
2,1,Tarapacá,14,Tamarugal,1401,Pozo Almonte
3,1,Tarapacá,14,Tamarugal,1402,Camiña
4,1,Tarapacá,14,Tamarugal,1403,Colchane

In [69]:
regs=list(cut.groupby(['Código Región','Nombre Región']).size().to_dict().keys())
regs=[(r[0],r[1].upper().replace('Á','A').replace('É','E').replace('Í','I')) for r in regs]
dreg = {v:k for k,v in dict(regs).items()}
dreg

{'TARAPACA': 1,
 'ANTOFAGASTA': 2,
 'ATACAMA': 3,
 'COQUIMBO': 4,
 'VALPARAISO': 5,
 "LIBERTADOR GENERAL BERNARDO O'HIGGINS": 6,
 'MAULE': 7,
 'BIOBIO': 8,
 'LA ARAUCANIA': 9,
 'LOS LAGOS': 10,
 'AYSEN DEL GENERAL CARLOS IBAÑEZ DEL CAMPO': 11,
 'MAGALLANES Y DE LA ANTARTICA CHILENA': 12,
 'METROPOLITANA DE SANTIAGO': 13,
 'LOS RIOS': 14,
 'ARICA Y PARINACOTA': 15,
 'ÑUBLE': 16}

In [59]:
ple['region']=ple.region.apply(lambda reg: ' '.join(reg.split()[1:]) if reg[:2]=='DE' else reg)                            
ple.region.value_counts()

METROPOLITANA DE SANTIAGO                    17559
VALPARAISO                                    4744
BIOBIO                                        4087
MAULE                                         2650
LA ARAUCANIA                                  2612
LIBERTADOR GENERAL BERNARDO O'HIGGINS         2271
LOS LAGOS                                     2247
COQUIMBO                                      1794
ANTOFAGASTA                                   1390
ÑUBLE                                         1287
LOS RIOS                                      1065
TARAPACA                                       865
ATACAMA                                        769
ARICA Y PARINACOTA                             552
MAGALLANES Y DE LA ANTARTICA CHILENA           505
AYSEN DEL GENERAL CARLOS IBAÑEZ DEL CAMPO      300
Name: region, dtype: int64

In [90]:
q = "SELECT Comuna, SUM(Votos) FROM presi WHERE Candidato='PIÑERA' AND Región=1 GROUP BY Comuna " #              AND Comuna='CAMIÑA' AND Local='ESCUELA CAMIÑA' AND mesa='1M'"
sql(q)

          Comuna  SUM(Votos)
0  ALTO HOSPICIO      9969.0
1         CAMIÑA       617.0
2       COLCHANE       814.0
3          HUARA       934.0
4        IQUIQUE     38382.0
5           PICA      1191.0
6   POZO ALMONTE      2472.0

In [ ]:
%debug

> <ipython-input-94-0ae3d2cd05f6>(8)get_votes()
      6             AND Comuna='{com}' AND Local='{loc}' AND mesa='{mesa}'" # should we mind float/ints?
      7     #print(q)
----> 8     return sql(q).values[0][0]
      9 ph10['PIÑERA'] = ph10.apply(lambda row: get_votes('PIÑERA', row['region'], row['comuna'], row['local'], row['mesa']), axis=1)
     10 ph10

ipdb>  print(q)

SELECT Votos FROM presi WHERE Candidato='PIÑERA' AND Región=2             AND Comuna='ANTOFAGASTA' AND Local='COLEGIO ANTOFAGASTA' AND mesa='113M'

In [ ]:
sql("SELECT mesa, Votos FROM presi WHERE Candidato='PIÑERA' AND Región=2             AND Comuna='ANTOFAGASTA' AND Local='COLEGIO ANTOFAGASTA'"